##############################################################################
# Project-specific
##############################################################################

build/
testtemp/
Secret*
*.profraw
